attrs==25.3.0
backports.tarfile==1.2.0
black==25.1.0
cattrs==24.1.3
certifi==2021.10.8
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
configparser==7.1.0
cos_python_sdk_v5==1.9.36
crcmod==1.7
cryptography==44.0.2
docstring-to-markdown==0.16
docutils==0.21.2
flake8==7.2.0
future==1.0.0
id==1.5.0
idna==3.10
importlib_metadata==8.6.1
iniconfig==2.1.0
isort==6.0.1
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
jedi-language-server==0.44.0
jeepney==0.9.0
keyring==25.6.0
lsprotocol==2023.0.1
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.6.0
mypy-extensions==1.0.0
nh3==0.2.21
packaging==24.2
parso==0.8.4
pathspec==0.12.1
pep8==1.7.1
platformdirs==4.3.7
pluggy==1.5.0
prettytable==2.5.0
pycodestyle==2.13.0
pycparser==2.22
pycryptodome==3.22.0
pygls==1.3.1
Pygments==2.19.1
PyHive==0.6.5
PyJWT==2.10.1
pytest==8.3.5
python-dateutil==2.9.0.post0
python-lsp-black==2.0.0
python-lsp-isort==0.2.0
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.12.2
PyYAML==6.0.2
readme_renderer==44.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.0.0
SecretStorage==3.3.3
six==1.17.0
-e git+ssh://git@git.woa.com/ti-cloud/ti-cloud-tikit.git@c373383fbb76f96dcfc2661a1adbcc63405cd1a7#egg=tikit
tqdm==4.67.1
twine==6.1.0
typing_extensions==4.13.2
ujson==5.10.0
urllib3==2.4.0
wcwidth==0.2.13
whatthepatch==1.0.7
xmltodict==0.14.2
yapf==0.43.0
zipp==3.21.0
