[submodule "site-lisp/org-gantt"]
	path = site-lisp/org-gantt
	url = https://github.com/phye/org-gantt.git
[submodule "site-lisp/ts-fold"]
	path = site-lisp/ts-fold
	url = https://github.com/emacs-tree-sitter/ts-fold
